@import url('fonts.css');
@import url('reset.css');
@import url('main.css');

:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --accent-color: #e03a3a;
    --secondary-accent-color: #dedede;
}

.wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1240px;
}

.section__title {
    margin-bottom: 3rem;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 990;
}

.header__wrapper {
    min-height: 8rem;
    padding: 1rem 0;
    white-space: nowrap;
}

.header__nav {
    gap: 3rem;
}

.header__logo {
    max-width: 40rem;
}

.header__contacts {
    gap: 1rem;
}

a:hover,
.header__logo--title:hover {
    color: var(--accent-color);
    transition: all .4s;
}

.header__contacts--img img:hover {
    border-radius: 50%;
    box-shadow: 0 0 1.5rem var(--accent-color);
    transition: all .4s;
}

.header__nav--open,
.header__nav--xs {
    display: none;
}

/* Proposition */
.proposition {
    margin-top: 12rem;
    padding: 3rem 0 4rem;
}

.proposition__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 7rem;
    flex-basis: 50%;
}

.proposition__img {
    max-height: 38rem;
}

.proposition__img--xs {
    display: none;
}


.proposition__img--xl {
    display: block;
}

/* Advantages */
.advantages {
    padding: 4rem 0;
}

.advantages__list {
    gap: 2rem;
}

.advantages__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(33.3333333333% - 2rem);
    overflow: hidden;
}

.advantages__img {
    margin-bottom: 1.5rem;

}

.advantages__img img {
    height: 25rem;
    width: 100%;
    border-radius: 3rem;
    object-fit: cover;
}

/* Uses */
.uses {
    padding: 7.5rem 4rem 11.5rem;
}

.uses__list {
    gap: 2rem;
}

.uses__item {
    position: relative;
    flex-basis: 50%;
    overflow: hidden;
}

.uses__shadow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0));
}

.uses__img {
    height: 100%;
    line-height: 0;
}

.uses__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.uses__content {
    padding: 3rem;
    position: absolute;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
    max-height: 100%;
    word-break: break-word;
}

.uses__subtitle {
    margin-bottom: 1.5rem;
    line-height: 1.35;
}

.uses__sublist {
    gap: 2rem;
}

.uses__subitem {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50% - 2rem);
    overflow: hidden;
}

.uses__subimg {
    height: 100%;
    width: 100%;
    line-height: 0;
}

.uses__subimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uses__subitem:nth-child(3) {
    flex-basis: 100%;
}

.zoomable-img {
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.zoomed-img {
    transform: scale(1.05);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Promotions */
.promotions {
    font-family: 'Noto Sans', Arial, sans-serif;
    padding: 6.5rem 0;
}

.promotions__list {
    margin-bottom: 5rem;
    gap: 6rem;
}

.promotions__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(33.3333333333% - 6rem);
    overflow: hidden;
}

.promotions__img {
    display: block;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 25rem;
}

.promotions__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
}

.promotions__title {
    line-height: 3.1rem;
}

.promotions__subtitle {
    margin-bottom: 3rem;
    line-height: 2.1rem;
}

.promotions button {
    width: 100%;
}

.btn--hidden--xl {
    display: none;
}

.promotions__img:hover {
    transition: all .4s;
    filter: contrast(60%);
}

/* Catalog */
.catalog {
    font-family: 'CirceRounded', Arial, sans-serif;
    padding: 6rem 0;
}

.catalog__list {
    flex-direction: column;
}

.catalog__item {
    gap: 1rem;
    padding: 1.5rem 0;
    border-bottom: 0.1rem solid rgba(0, 0, 0, .1);
}

.catalog__content span {
    display: block;
    margin-bottom: 0.8rem;
    line-height: 1.5;
    white-space: nowrap;
}

.catalog__content div {
    font-size: 1.4rem;
    line-height: 1.55;
    opacity: .6;
}

.catalog__action span {
    display: block;
    margin-bottom: 2rem;
}

.border--bottom {
    margin-bottom: 0;
    padding-bottom: 6rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, .1);
}

/* Form */
.form1 {
    padding: 6rem 0;
}

.form2 {
    padding: 8rem 0;
}

.form__wrapper {
    position: relative;
    background-color: var(--secondary-accent-color);
    border-radius: 3rem;
    overflow: hidden;
}

.form__action {
    padding: 4rem 4rem 7rem;
    flex-direction: column;
    flex-basis: 55%;
    z-index: 100;
}

.form__input {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
    font-family: 'CirceRounded', Arial, sans-serif;
    height: 5rem;
    border: 0.1rem solid rgb(245, 245, 245);
    border-radius: 1rem;
}

.form__title {
    margin-bottom: 4rem;
    font-size: 4rem;
    line-height: 4rem;
}

.form1__img {
    display: flex;
    align-items: flex-end;
}

.form1__img img {
    transform: rotate(180deg);
    max-width: 100%;
    max-height: 39rem;
}

.form2__img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 57rem;
    max-height: 42rem;
}

.form__action button {
    padding: 1.5rem;
    width: 16rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 1rem;
}


/* Questions */
.questions {
    padding: 4.5rem 0;
}

.questions__list {
    gap: 2rem;
}

.questions__item {
    flex-direction: column;
    padding: 3rem;
    height: 28rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(33.3333333333% - 2rem);
    overflow: hidden;
    border-radius: 3rem;
    background-color: var(--secondary-accent-color);
}

.questions__title {
    font-size: 2.7rem;
    line-height: 4.2rem;
}

.questions__subtitle {
    line-height: 3.1rem;
}

/* BeInterested */
.beInterested {
    padding: 3rem 0;
    font-family: 'Noto Sans', Arial, sans-serif;
}

.beInterested__list {
    align-items: flex-end;
    margin-bottom: 5rem;
    gap: 6rem;
}

.beInterested__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(33.3333333333% - 6rem);
    overflow: hidden;
}

.beInterested__item:hover {
    transition: all .4s;
    color: var(--accent-color);
}

.beInterested__img {
    margin-bottom: 1.5rem;
    height: 25rem;
    width: 100%;
}

.beInterested__img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 3rem;
}

.beInterested__title {
    line-height: 3.1rem;
}

.beInterested__subtitle {
    margin-bottom: 5rem;
    line-height: 2.1rem;
}

.beInterested__content button {
    width: 100%;
}

/* Contacts */
.contacts__wrapper {
    font-family: 'CirceRounded', Arial, sans-serif;
    position: relative;
}

.contacts__card {
    padding: 6rem;
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 46rem;
}

.contacts__title {
    font-size: 2.8rem;
    line-height: 1.17;
}

.contacts__subtitle {
    font-size: 1.8rem;
}

.contacts__action {
    font-size: 1.8rem;
    line-height: 1.55;
    display: flex;
    flex-direction: column;
}

.contacts--icon img:hover {
    box-shadow: 0 0 1.5rem var(--accent-color);
    transition: all .4s;
}

/* Footer */
.footer {
    padding: 0.2rem 4rem 6rem 4rem;
    background-color: var(--secondary-color);
}

.footer__content {
    width: 25rem;
    line-height: 1.35;
}

.btn--toTop {
    font-size: 2.5rem;
    background-color: transparent;
}

.btn--toTop:hover {
    background-color: transparent;
    color: var(--accent-color);
}

/* Popup */
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation: modal 0.3s alternate ease;
    z-index: 990;
}

.popup__wrapper {
    margin: 0 4rem;
    max-width: 56rem;
    max-height: 56rem;
    background-color: var(--primary-color);
    padding: 4rem;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
}

.popup__title {
    font-family: 'CirceRounded', Arial, sans-serif;
    font-size: 3.6rem;
    line-height: 1.23;
}

.popup__form-field {
    resize: none;
}

.btn--popup {
    padding: 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}

.popup__border {
    border: 0.1rem solid #c9c9c9;
    border-radius: 0.5rem;
}

.show {
    display: flex;
    animation: modal 0.4s alternate ease;
}

.popup__questions--content {
    height: auto;
    width: 60rem;
}

@keyframes modal {
    0% {
        opacity: 0;
    }

    ;

    100% {
        opacity: 1;
    }

    ;
}

.popup_close {
    padding: 1rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {

    /* Catalog */
    .catalog__content span {
        font-size: 1.8rem;
    }

    .catalog__content div {
        font-size: 1.2rem;
    }

    /* Contacts */
    .contacts__title {
        font-size: 2.6rem;
    }

    .contacts__subtitle {
        font-size: 1.6rem;
    }

    .contacts__action {
        font-size: 1.6rem;
    }

    /* Footer */
    .footer {
        padding: 0.2rem 2rem 6rem 2rem;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 980px) {

    .header__nav,
    .header__contacts {
        display: none;
    }

    .header__wrapper {
        min-height: 6.4rem;
    }

    .header__logo a {
        display: flex;
        font-size: 1.8rem;
    }

    .header__nav--open {
        display: block;
        cursor: pointer;
    }

    .header__nav--open img {
        display: block;
        max-width: 3.2rem;
        max-height: 3.2rem;
    }

    .header__nav--xs {
        padding: 2rem 2rem 4rem;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .header__link--xs {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .header__contacts-xs {
        gap: 1rem;
    }

}

@media screen and (max-width: 960px) {

    h2,
    .h2 {
        font-size: 3.5rem;
    }

    h3,
    .h3 {
        font-size: 4.5rem;
        line-height: 7rem;
    }

    .container {
        max-width: 680px;
    }

    /* Advantages */
    .advantages__list {
        flex-direction: column;
    }

    /* Uses */
    .uses {
        padding: 3rem 2rem;
    }

    .uses__list {
        flex-direction: column;
    }

    /* Promotions */
    .promotions__list {
        flex-direction: column;
        margin-bottom: 0;
        gap: 4rem;
    }

    .promotions__item a {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .promotions__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 50%;
    }

    .promotions__img {
        margin-bottom: 0;
        max-width: 30rem;
    }

    .btn--hidden--xs {
        display: none;
    }

    .btn--hidden--xl {
        display: block;
    }

    /* Catalog */
    .catalog__item {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    /* Form */
    .form__action {
        flex-basis: 100%;
    }

    .form2__img {
        top: auto;
        bottom: 0;
        right: -6rem;
        transform: rotate(90deg);
        max-width: 35rem;
        max-height: 21rem;
    }

    /* Questions */
    .questions__list {
        flex-direction: column;
    }

    .questions__subtitle {
        display: block;
        line-clamp: initial;
        -webkit-line-clamp: initial;
        -webkit-box-orient: initial;
        overflow: initial;
        text-overflow: initial;
    }

    .questions__item button {
        display: none;
    }

    /* BeInterested */
    .beInterested__list {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 0;
        gap: 4rem;
    }

    .beInterested__item a {
        display: flex;
        justify-content: space-between;
    }

    .beInterested__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .beInterested__img {
        margin-bottom: 0;
        max-width: 30rem;
    }

    .beInterested__content button {
        font-size: 2rem;
    }

    /* Contacts */
    .contacts__wrapper {
        display: flex;
        flex-direction: column;
    }

    .contacts__card {
        padding: 6rem 14rem;
        margin: 0 auto;
        position: relative;
        left: 0;
        width: 100%;
    }

    /* Footer */
    .footer {
        padding: 4rem 2rem;
    }

    .footer__wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .footer__content {
        width: max-content;
    }
}

@media screen and (max-width: 640px) {
    .header__logo a span {
        font-size: 1.6rem;
    }

    .uses__sublist {
        flex-direction: column;
    }

    /* Catalog */
    .catalog__item {
        align-items: stretch;
    }

    /* Form */
    .form1__img img {
        position: absolute;
        transform: rotate(90deg);
        bottom: 0;
        right: -6rem;
    }

    /* Questions */
    .questions__title,
    .questions__subtitle {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    /* Contacts */
    .contacts__card {
        padding: 4.5rem 2rem;
        margin: 0 auto;
        position: relative;
        left: 0;
        width: 100%;
    }

    .contacts__title {
        font-size: 2.4rem;
    }

    .contacts__subtitle {
        font-size: 1.4rem;
    }

    .contacts__action {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 560px) {
    .popup {
        height: 15vh;
        background-color: var(--secondary-color);
    }

    .popup__wrapper {
        position: fixed;
        margin: 0;
        height: 85vh;
        max-height: 100%;
        bottom: 0;
    }

    .popup_close {
        top: 5%;
        right: 2%;
    }
}

@media screen and (max-width: 478px) {

    h3,
    .h3 {
        font-size: 4.1rem;
        line-height: 6.4rem;
    }


    h6,
    .h6 {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .container {
        max-width: 340px;
    }

    /* Proposition  */
    .proposition {
        padding: 0;
    }

    .proposition__wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .proposition__content {
        align-items: center;
    }

    .proposition__title {
        font-size: 2.9rem;
        text-align: center;
    }

    .proposition__img--xs {
        display: block;
        min-width: 30rem;
    }

    .proposition__img--xl {
        display: none;
    }

    /* Advantages */
    .advantages__img img {
        max-width: 30rem;
    }

    /* Promotions */
    .promotions__item a {
        flex-direction: column;
    }

    .btn--hidden--xl {
        padding: 1rem;
    }

    /* Form2 */
    .form__action {
        padding: 2rem 2rem 10rem;
    }

    .form__title {
        margin-bottom: 2rem;
        font-size: 2.7rem;
        line-height: 2.7rem;
    }

    .form2__img img {
        max-width: 20rem;
        max-height: 14rem;
    }

    /* Be interested */
    .beInterested .section__title {
        font-size: 3.4rem;
        line-height: 5.4rem;
    }

    .beInterested__item a {
        flex-direction: column;
    }

    .beInterested__content {
        text-align: center;
    }

    .beInterested__subtitle {
        margin-bottom: 2rem;
    }

    .beInterested button {
        padding: 0.5rem;
    }
}